$ff: 'Noto Sans KR';

$font-set: (
  1rem : 1.5rem,
  1.1rem : 1.6rem,
  1.2rem : 1.7rem,
  1.3rem : 1.9rem,
  1.4rem : 2rem,
  1.5rem : 2.1rem,
  1.6rem : 2.4rem,
  1.7rem : 2.5rem,
  1.8rem : 2.6rem,
  1.9rem : 2.7rem, 
  2rem : 2.9rem,
  2.1rem : 3rem, 
  2.2rem : 3.2rem,
  2.3rem : 3.4rem,
  2.4rem : 3.5rem,
  2.5rem : 3.6rem,
  2.6rem : 3.7rem,
  2.7rem : 3.9rem,
  2.8rem : 4rem,
);

@mixin font ($font-size) {
    @each $size, $line-height in $font-set {
      @if($font-size == $size) {
        font: $size + unquote('/') + $line-height $ff;
      }
  }
}

@each $num in 4, 8, 12, 16, 20, 24, 28, 32 {
  .mt#{$num} {
    margin-top: #{$num}px;
  }
  .mb#{$num} {
    margin-bottom: #{$num}px;
  }
  .ml#{$num} {
    margin-left: #{$num}px;
  }
  .mr#{$num} {
    margin-right: #{$num}px;
  }
}
