/* 변수 및 공통 SCSS 정의 */
$font-path: '../font/SpoqaHanSansNeo_TTF_subset/';
$img-path: '../images/';
$icon-path: '../icons/';

/* color setting */
$black: black;
$white: white;
$red: #FF0000;

$gray900: #1C1D1F;
$gray800: #27282C;
$gray600: #474C52;
$gray500: #73787E;
$gray400: #9FA4A8;
$gray200: #CACDD2;
$gray100: #EAEBED;
$gray50: #F7F8FA;

$primary: #4D869C;
$secondary: #E38A27;
$dark: #2f2f2f;
$mainLight: #dce5e4;
$lighter: #eff2f1;
$body_color: #6a6a6a;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$chartBlue: #AEC9E0;
$chartRed: #F2B2A8;
$chartMix: #D0BEC4;

$boxShadow: 0 3px 6px rgba(34, 58, 92, 0.2);

/* font-weight */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
