/* common layout properties */
* {box-sizing: border-box;}

h1,h2,h3,h4,h5,h6 {margin: 0;}
input {border: none; background: transparent;}
th,td {font-weight: unset; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
button {padding: 0; margin: 0; border: 0; background: transparent; cursor: pointer;}
li {list-style-type: none;}
ul {margin: 0; padding: 0;}
p {margin: 0;}
pre {margin: 0;}
canvas {box-sizing: border-box;}

/* font-family */
:is(html, body, pre, button, input, textarea) {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
input[type="text" i] {
    padding: 0;
}
input:focus {
    outline: none;
}

body,
html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    min-height: -webkit-fill-available;
    scroll-behavior: smooth;
}
// html::-webkit-scrollbar {
//     display: none; /* Chrome, Safari, Opera*/
// }

.flex {display: flex;}

.non_cursor {caret-color: transparent;}

/* chrome 아이디, 패스워드 저장시에 input background 변경 막기 */
/* 배경색과 동일하게 맞추기 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $white inset;
}

input:disabled {
    background: transparent;
    color: $black;
    /* safari & ios :disabled font-color change */
    -webkit-text-fill-color: $black;
    -webkit-opacity: 1;
}
input:focus {
  /* prevent the input like button */
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0,0,0);
  -webkit-perspective: 1000;
}
