.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: $white;
  @include font(1.3rem);
  transition: all 0.5s;
  background: $gray600;
  border-color: $gray600;
  &:hover {
    color: $white;
    background: darken($dark, 20%);
    border-color: darken($dark, 5%);
  }
  &:active, &:focus {
    outline: none !important;
    box-shadow: none;
  }
  &.btn-primary {
    background: $primary;
    border-color: $primary;
    transition: all 0.3s;
    &:hover {
      background: darken($primary, 10%);
      box-shadow: 0 0 8px 0 rgba(77, 134, 156, 0.6);
      border-color: darken($primary, 10%);
    }
  }
  &.btn-secondary {
    color: $dark;
    background: $secondary;
    border-color: $secondary;
    &:hover {
      background: darken($secondary, 5%);
      border-color: darken($secondary, 5%);
    }
  }
  &.btn-white-outline {
    background: transparent;
    border-width: 1px;
    border-color: rgba($white, .3);
    &:hover {
      border-color: rgba($white, 1);
      color: $white;
    }
  }
}