.form-group {
  input {
    @include font(1.5rem);
    &:read-only {
      color: $gray400;
    }
  }
  .radio_box {
    display: flex;
    input[type=radio] {
      display: none;
      & + label {
        display: flex;
        align-items: center;
        h4 {
          font-weight: $regular;
          color: $gray400;
          transition: all 0.4s;
        }
        .icon {
          margin-right: 0.4rem;
          transition: all 0.4s;
        }
      }
      &:checked + label {
        h4 {
          font-weight: $bold;
          color: $primary;
        }
        .icon {
          background: center / contain no-repeat url($icon-path + 'icon_24_radio_active.svg');
        }
      }
    }
    .radio_bundle {
      display: flex;
      margin-right: 1.6rem;
    }
  }
  &.right {
    display: flex;
    justify-content: end;
    margin-top: 4rem;
    height: 4rem;
  }
}

input[type="password"]:not(:placeholder-shown) {
  font-family: "pass";
  @include font(2.4rem);
}

input::placeholder {
  font-size: 1.6rem !important;
}

textarea.form-control {
  padding: 1.6rem;
  @include font(1.4rem);
}