.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10000;
  &.show {
    display: block;
  }
  .backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
  }
  .modal_content {
    background: $white;
    padding: 5.6rem 2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.8rem;
    box-shadow: 0 0 8px 0 rgba(77, 134, 156, 0.6);
    .close_btn {
      position: absolute;
      right: 2rem;
      top: 1.2rem;
      .fa-circle-xmark {
        &::before {
          font-size: 32px;
          color: $primary;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .modal_wrap {
    .modal_content {
      padding: 5.6rem 0 0;
      height: 100vh;
      border-radius: 0;
    }
  }
}