table {
  &.table {
    &.cart {
      margin-bottom: 8rem;
    }
    thead {
      tr {
        th {
          @include font(1.5rem);
          color: $gray500;
          padding: 1.6rem;
        }
      }
    }
    tbody {
      border-top: 1px solid $gray400 !important;
      border-bottom: 1px solid $primary !important;
      tr {
        td {
          border-bottom: 1px solid $gray200 !important;
          &:last-of-type {
            border-bottom: unset;
          }
          @include font(1.6rem);
          h2 {
            @include font(1.6rem);
          }
          &.delete {
            @include font(1.4rem);
            cursor: pointer;
            color: $gray500;
          }
          &.product-thumbnail {
            width: 16rem;
          }
          &.quantity_group {
            .quantity-container {
              justify-content: center;
              input.quantity-amount.table_input {
                height: 4rem;
                border-radius: 0.8rem;
                @include font(1.4rem);
                width: 8rem;
                flex: unset;
              }
            }
            .decrease, .increase {
              @include font(2rem);
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.table>:not(:first-child) {
  border-top: unset;
}