@charset "UTF-8";
.mt4 {
  margin-top: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mt28 {
  margin-top: 28px;
}

.mb28 {
  margin-bottom: 28px;
}

.ml28 {
  margin-left: 28px;
}

.mr28 {
  margin-right: 28px;
}

.mt32 {
  margin-top: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.ml32 {
  margin-left: 32px;
}

.mr32 {
  margin-right: 32px;
}

/* 변수 및 공통 SCSS 정의 */
/* color setting */
/* font-weight */
.animate__animated:hover {
  animation-duration: 2s;
  animation-fill-mode: none;
}

.hover-animate-heartBeat:hover {
  animation-name: heartBeat;
}

.animate__animated:hover {
  animation-duration: 2s;
  animation-fill-mode: none;
}

.hover-animate-shakeX:hover {
  animation-name: shakeX;
}

img {
  transition: all 0.5s;
  transform: scale(100%);
}
img.scale:hover {
  transform: scale(130%);
}
img.small {
  transform: scale(90%);
}
img.small.scale:hover {
  transform: scale(110%);
}

.animate__animated_scroll {
  animation-duration: 2s;
  animation-fill-mode: both;
  visibility: hidden;
}
.animate__animated_scroll.fadeInRight {
  visibility: visible;
  animation-name: fadeInRight;
}
.animate__animated_scroll.fadeInLeft {
  visibility: visible;
  animation-name: fadeInLeft;
}
.animate__animated_scroll.fadeInUp {
  visibility: visible;
  animation-name: fadeInUp;
}
.animate__animated_scroll.backInLeft {
  visibility: visible;
  animation-name: backInLeft;
}
.animate__animated_scroll.backInRight {
  visibility: visible;
  animation-name: backInRight;
}
.animate__animated_scroll.rotateInDownLeft {
  visibility: visible;
  animation-name: rotateInDownLeft;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.eot") format("eot");
}
/* common layout properties */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  border: none;
  background: transparent;
}

th, td {
  font-weight: unset;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}

canvas {
  box-sizing: border-box;
}

/* font-family */
:is(html, body, pre, button, input, textarea) {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

input[type=text i] {
  padding: 0;
}

input:focus {
  outline: none;
}

body,
html {
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  min-height: -webkit-fill-available;
  scroll-behavior: smooth !important;
}

.flex {
  display: flex;
}

.non_cursor {
  caret-color: transparent;
}

/* chrome 아이디, 패스워드 저장시에 input background 변경 막기 */
/* 배경색과 동일하게 맞추기 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input:disabled {
  background: transparent;
  color: black;
  /* safari & ios :disabled font-color change */
  -webkit-text-fill-color: black;
  -webkit-opacity: 1;
}

input:focus {
  /* prevent the input like button */
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type=number] {
  -moz-appearance: textfield;
}

.icon.user {
  background: center/contain no-repeat url("../icons/icon_24_user.svg");
  min-width: 2.4rem;
  min-height: 2.4rem;
}
.icon.cart {
  background: center/contain no-repeat url("../icons/icon_24_cart.svg");
  min-width: 2.4rem;
  min-height: 2.4rem;
}
.icon.radio_inactive {
  background: center/contain no-repeat url("../icons/icon_24_radio_inactive.svg");
  min-width: 2.4rem;
  min-height: 2.4rem;
}
.icon.envelope {
  background: center/contain no-repeat url("../icons/icon_28_envelope.svg");
  min-width: 2.8rem;
  min-height: 2.8rem;
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
  transition: all 0.5s;
  background: #474C52;
  border-color: #474C52;
}
.btn:hover {
  color: white;
  background: black;
  border-color: #222222;
}
.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn.btn-primary {
  background: #4D869C;
  border-color: #4D869C;
  transition: all 0.3s;
}
.btn.btn-primary:hover {
  background: #3c697a;
  box-shadow: 0 0 8px 0 rgba(77, 134, 156, 0.6);
  border-color: #3c697a;
}
.btn.btn-secondary {
  color: #2f2f2f;
  background: #E38A27;
  border-color: #E38A27;
}
.btn.btn-secondary:hover {
  background: #d57d1c;
  border-color: #d57d1c;
}
.btn.btn-white-outline {
  background: transparent;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
}
.btn.btn-white-outline:hover {
  border-color: white;
  color: white;
}

.form-group input {
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
}
.form-group input:read-only {
  color: #9FA4A8;
}
.form-group .radio_box {
  display: flex;
}
.form-group .radio_box input[type=radio] {
  display: none;
}
.form-group .radio_box input[type=radio] + label {
  display: flex;
  align-items: center;
}
.form-group .radio_box input[type=radio] + label h4 {
  font-weight: 400;
  color: #9FA4A8;
  transition: all 0.4s;
}
.form-group .radio_box input[type=radio] + label .icon {
  margin-right: 0.4rem;
  transition: all 0.4s;
}
.form-group .radio_box input[type=radio]:checked + label h4 {
  font-weight: 700;
  color: #4D869C;
}
.form-group .radio_box input[type=radio]:checked + label .icon {
  background: center/contain no-repeat url("../icons/icon_24_radio_active.svg");
}
.form-group .radio_box .radio_bundle {
  display: flex;
  margin-right: 1.6rem;
}
.form-group.right {
  display: flex;
  justify-content: end;
  margin-top: 4rem;
  height: 4rem;
}

input[type=password]:not(:placeholder-shown) {
  font-family: "pass";
  font: 2.4rem/3rem "Spoqa Han Sans Neo", "sans-serif";
}

input::placeholder {
  font-size: 1.6rem !important;
}

textarea.form-control {
  padding: 1.6rem;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}

.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10000;
}
.modal_wrap.show {
  display: block;
}
.modal_wrap .backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.modal_wrap .modal_content {
  background: white;
  padding: 5.6rem 2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  box-shadow: 0 0 8px 0 rgba(77, 134, 156, 0.6);
}
.modal_wrap .modal_content .close_btn {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
}
.modal_wrap .modal_content .close_btn .fa-circle-xmark::before {
  font-size: 32px;
  color: #4D869C;
}

@media (max-width: 768px) {
  .modal_wrap .modal_content {
    padding: 5.6rem 0 0;
    height: 100vh;
    border-radius: 0;
  }
}
table.table th.center, table.table td.center {
  text-align: center;
}
table.table.order {
  margin-bottom: 6rem !important;
}
table.table.order th, table.table.order td {
  padding: 1.6rem;
  color: #474C52;
}
table.table.order th {
  background: #F7F8FA;
}
table.table.cart {
  margin-bottom: 8rem;
}
table.table thead tr th {
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
  color: #73787E;
  padding: 1.6rem;
}
table.table tbody {
  border-top: 1px solid #9FA4A8 !important;
  border-bottom: 1px solid #4D869C !important;
}
table.table tbody tr td {
  border-bottom: 1px solid #CACDD2 !important;
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
}
table.table tbody tr td:last-of-type {
  border-bottom: unset;
}
table.table tbody tr td h2 {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
}
table.table tbody tr td.delete {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  cursor: pointer;
  color: #73787E;
}
table.table tbody tr td.product-thumbnail {
  width: 16rem;
}
table.table tbody tr td.quantity_group .quantity-container {
  justify-content: center;
}
table.table tbody tr td.quantity_group .quantity-container input.quantity-amount.table_input {
  height: 4rem;
  border-radius: 0.8rem;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  width: 8rem;
  flex: unset;
}
table.table tbody tr td.quantity_group .decrease, table.table tbody tr td.quantity_group .increase {
  font: 2rem/2.5rem "Spoqa Han Sans Neo", "sans-serif";
  color: #4D869C;
}

.table > :not(:first-child) {
  border-top: unset;
}

a {
  transition: 0.3s all ease;
  color: #2f2f2f;
  text-decoration: underline;
}
a:hover {
  color: #2f2f2f;
  text-decoration: none;
}
a.more {
  font-weight: 600;
}

p {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}

.container {
  padding: 0 2.4rem;
}
.container .section-title {
  font: 3.6rem/4.5rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
  color: #2f2f2f;
}

.list-unstyled.custom-list li {
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
  color: #4D869C;
  font-weight: 500;
}
.list-unstyled.custom-list li::before {
  top: 50%;
  transform: translateY(-50%);
}

.mb40 {
  margin-bottom: 4rem;
}

.mb80 {
  margin-bottom: 8rem;
}

.product-section {
  padding: 7rem 0;
}
.product-section .product-item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 50px;
  cursor: pointer;
}
.product-section .product-item .product-title {
  font-weight: 500;
}
.product-section .product-item .product-thumbnail {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  transition: 0.3s all ease;
}
.product-section .product-item h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.8rem;
}
.product-section .product-item strong {
  font-weight: 800 !important;
  font: 2.4rem/3rem "Spoqa Han Sans Neo", "sans-serif";
}
.product-section .product-item strong span {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 300;
  margin-left: 0.4rem;
}
.product-section .product-item h3, .product-section .product-item strong {
  color: #2f2f2f;
  text-decoration: none;
}
.product-section .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #2f2f2f;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -17.5px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}
.product-section .product-item .icon-cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-section .product-item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: rgba(77, 134, 156, 0.4);
  height: 0%;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.product-section .product-item:hover .product-thumbnail {
  top: -25px;
}
.product-section .product-item:hover .icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.product-section .product-item:hover:before {
  height: 70%;
}

.why-choose-section {
  padding: 7rem 0;
}
.why-choose-section.service h3 {
  margin-bottom: 0.8rem;
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
}
.why-choose-section .section-title {
  margin-bottom: 1.6rem;
}
.why-choose-section .img-wrap {
  position: relative;
}
.why-choose-section .img-wrap:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-40%, -40%);
  z-index: -1;
}
.why-choose-section .img-wrap img {
  border-radius: 20px;
}

.feature {
  margin-bottom: 30px;
}
.feature .icon {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.feature .icon:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  background: rgba(77, 134, 156, 0.2);
  border-radius: 50%;
  right: -8px;
  bottom: 0;
}
.feature h3 {
  font-size: 14px;
  color: #2f2f2f;
}
.feature p {
  font-size: 14px;
  line-height: 22px;
  color: #6a6a6a;
}

.we-help-section {
  padding: 7rem 0;
}
.we-help-section .imgs-grid {
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  position: relative;
}
.we-help-section .imgs-grid:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-40%, -40%);
  z-index: -1;
}
.we-help-section .imgs-grid .grid {
  position: relative;
}
.we-help-section .imgs-grid .grid img {
  border-radius: 20px;
  max-width: 100%;
}
.we-help-section .imgs-grid .grid.grid-1 {
  grid-column: 1/span 18;
  grid-row: 1/span 27;
}
.we-help-section .imgs-grid .grid.grid-2 {
  grid-column: 19/span 27;
  grid-row: 1/span 5;
  padding-left: 20px;
}
.we-help-section .imgs-grid .grid.grid-3 {
  grid-column: 14/span 16;
  grid-row: 6/span 27;
  padding-top: 20px;
}

.custom-list {
  width: 100%;
}
.custom-list li {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 12px;
  line-height: 1.5;
  position: relative;
  padding-left: 20px;
}
.custom-list li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #4D869C;
  position: absolute;
  left: 0;
  top: 8px;
}

.popular-product {
  padding: 0 0 7rem 0;
}
.popular-product .product-item-sm h3 {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 0.8rem;
}
.popular-product .product-item-sm a {
  text-decoration: none;
  color: #2f2f2f;
  transition: 0.3s all ease;
}
.popular-product .product-item-sm a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.popular-product .product-item-sm p {
  line-height: 1.4;
  margin-bottom: 10px;
}
.popular-product .product-item-sm p.read_more {
  background: #4D869C;
  border-radius: 5rem;
  width: 10.8rem;
  padding: 0.6rem 0;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  text-align: center;
}
.popular-product .product-item-sm p.read_more a {
  color: white;
}
.popular-product .product-item-sm .thumbnail {
  margin-right: 10px;
  flex: 0 0 120px;
  position: relative;
}
.popular-product .product-item-sm .thumbnail:before {
  content: "";
  position: absolute;
  border-radius: 20px;
  background: #dce5e4;
  width: 98px;
  height: 98px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.testimonial-section {
  padding: 3rem 0 7rem 0;
}

.testimonial-slider-wrap {
  position: relative;
}
.testimonial-slider-wrap .tns-inner {
  padding-top: 30px;
}
.testimonial-slider-wrap .item .testimonial-block blockquote {
  font-size: 16px;
}
@media (min-width: 768px) {
  .testimonial-slider-wrap .item .testimonial-block blockquote {
    line-height: 32px;
    font-size: 18px;
  }
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic {
  margin-bottom: 20px;
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic img {
  max-width: 80px;
  border-radius: 50%;
  margin: 0 auto;
}
.testimonial-slider-wrap .item .testimonial-block .author-info h3 {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 0.4rem;
}
.testimonial-slider-wrap .item .testimonial-block .author-info .position.additional_info {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  color: #73787E;
}
.testimonial-slider-wrap .item .testimonial-block .author-info .position.additional_info .like_point {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  margin-left: 0.4rem;
  color: #E38A27;
}
.testimonial-slider-wrap #testimonial-nav {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .testimonial-slider-wrap #testimonial-nav {
    display: block;
  }
}
.testimonial-slider-wrap #testimonial-nav > span {
  cursor: pointer;
  position: absolute;
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  background: rgba(77, 134, 156, 0.1);
  color: #2f2f2f;
  transition: 0.3s all ease;
}
.testimonial-slider-wrap #testimonial-nav > span:hover {
  background: #4D869C;
  color: white;
}
.testimonial-slider-wrap #testimonial-nav .prev {
  left: -10px;
}
.testimonial-slider-wrap #testimonial-nav .next {
  right: 0;
}
.testimonial-slider-wrap .tns-nav {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-slider-wrap .tns-nav button {
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  width: 0 !important;
  height: 7px !important;
  margin: 2px;
}
.testimonial-slider-wrap .tns-nav button:active, .testimonial-slider-wrap .tns-nav button:focus, .testimonial-slider-wrap .tns-nav button:hover {
  outline: none;
  box-shadow: none;
  background: none;
}
.testimonial-slider-wrap .tns-nav button:before {
  display: block;
  width: 7px;
  height: 7px;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: 0.3s all ease;
  background-color: #d6d6d6;
}
.testimonial-slider-wrap .tns-nav button:hover:before, .testimonial-slider-wrap .tns-nav button.tns-nav-active:before {
  background-color: #4D869C;
}

.before-footer-section {
  padding: 7rem 0 12rem 0 !important;
}

.blog-section {
  padding: 7rem 0 12rem 0;
}
.blog-section .section_title_wrap {
  border-bottom: 1px solid #CACDD2;
  padding-bottom: 1.6rem;
}
@media (max-width: 768px) {
  .blog-section .section_title_wrap {
    justify-content: space-between;
  }
  .blog-section .section_title_wrap .col-md-6 {
    width: fit-content;
  }
  .blog-section .section_title_wrap .col-md-6 .section-title {
    font: 3.2rem/4rem "Spoqa Han Sans Neo", "sans-serif";
    font-weight: 700;
  }
}
.blog-section .section_title_wrap .text-start {
  display: flex;
  align-items: end;
  justify-content: end;
}
.blog-section .section_title_wrap .text-start a {
  color: #9FA4A8;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}
.blog-section .section_title_wrap .text-start a:hover {
  color: #4D869C;
}
.blog-section .post-entry a {
  text-decoration: none;
}
.blog-section .post-entry .post-thumbnail {
  display: block;
  margin-bottom: 20px;
}
.blog-section .post-entry .post-thumbnail img {
  border-radius: 20px;
  transition: 0.3s all ease;
}
.blog-section .post-entry .post-content-entry {
  padding-left: 15px;
  padding-right: 15px;
}
.blog-section .post-entry .post-content-entry h3 {
  font: 2rem/2.5rem "Spoqa Han Sans Neo", "sans-serif";
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #27282C;
}
.blog-section .post-entry .post-content-entry .meta .author {
  margin-right: 0.8rem;
  color: #73787E;
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500;
}
.blog-section .post-entry .post-content-entry .meta .update {
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
  color: #9FA4A8;
}
.blog-section .post-entry:hover .post-thumbnail img, .blog-section .post-entry:focus .post-thumbnail img {
  opacity: 0.7;
}

.untree_co-section {
  padding: 7rem 0;
}
.untree_co-section .container .frame {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.untree_co-section .container .frame .img-fluid {
  border-radius: 1.6rem;
  border: 4px solid rgba(77, 134, 156, 0.2);
}
.untree_co-section .container .frame h3 {
  font: 2rem/2.5rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
}
.untree_co-section .container .frame h3 a {
  text-decoration: none;
}
.untree_co-section .container .frame .position {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  color: #4D869C;
  margin-top: 0.4rem;
}
.untree_co-section .container .frame .see_more {
  margin-top: 1.6rem;
}
.untree_co-section .container .frame .see_more a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.6rem;
  border-radius: 5rem;
  background: #4D869C;
  text-decoration: none;
}
.untree_co-section .container .frame .see_more a span {
  color: white;
  font-weight: 400;
  margin-right: 0.4rem;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}
.untree_co-section .container .frame .see_more a i {
  color: white;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untree_co-section .container .frame .see_more a i::before {
  text-align: center;
  vertical-align: middle;
  line-height: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  margin: auto 0;
}

.form-control {
  height: 50px;
  border-radius: 10px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #4D869C;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.form-control::-webkit-input-placeholder {
  font-size: 14px;
}
.form-control::-moz-placeholder {
  font-size: 14px;
}
.form-control:-ms-input-placeholder {
  font-size: 14px;
}
.form-control:-moz-placeholder {
  font-size: 14px;
}

.service {
  align-items: center;
}
.service .service-icon {
  border-radius: 10px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #4D869C;
  margin-right: 20px;
  color: white;
}
.service .service-icon svg {
  width: 2rem;
  height: 2rem;
}

.contact_input_group {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
}
.contact_input_group .form-group label.text-black {
  color: #EAEBED;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  margin-bottom: 0.8rem;
}
.contact_input_group .form-group input.form-control {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  padding: 1.6rem;
}

textarea {
  height: auto !important;
}

.site-blocks-table {
  overflow: auto;
}
.site-blocks-table .product-thumbnail {
  width: 200px;
}
.site-blocks-table .btn {
  padding: 2px 10px;
}
.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 0px !important;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}
.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #4D869C !important;
}
.site-blocks-table .btn {
  background: none !important;
  color: black;
  border: none;
  height: auto !important;
}

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important;
}
.site-block-order-table td, .site-block-order-table th {
  color: black;
}

.couponcode-wrap input {
  border-radius: 10px !important;
}

.text-primary {
  color: #4D869C !important;
}

.thankyou-icon {
  position: relative;
  color: #4D869C;
}
.thankyou-icon:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(77, 134, 156, 0.2);
}

.coupon_and_pay_wrap .coupon label {
  font: 2rem/2.5rem "Spoqa Han Sans Neo", "sans-serif";
  margin-bottom: 0.4rem;
}
.coupon_and_pay_wrap .coupon label + p {
  margin-bottom: 0.8rem;
}
.coupon_and_pay_wrap .coupon input {
  height: 4rem;
  padding: 0 1.6rem;
}
.coupon_and_pay_wrap .coupon button.coupon_btn {
  height: 4rem;
}
.coupon_and_pay_wrap .pay {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
}
.coupon_and_pay_wrap .pay h3 {
  font: 2rem/2.5rem "Spoqa Han Sans Neo", "sans-serif";
}

.untree_co-section.thankyou h2 {
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.untree_co-section.thankyou p.lead {
  margin-bottom: 4rem !important;
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
}
.untree_co-section.checkout h2.text-black {
  font: 2rem/2.5rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500;
  color: #474C52 !important;
}
.untree_co-section.checkout .return_login_box {
  border-radius: 5rem !important;
  border: 1px solid rgba(77, 134, 156, 0.3) !important;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  text-align: center;
  font-weight: 400;
  color: #73787E;
}
.untree_co-section.checkout .return_login_box a {
  color: #4D869C;
  font-weight: 700;
}
.untree_co-section.checkout .checkout_content .form-group {
  margin-bottom: 1.6rem;
}
.untree_co-section.checkout .checkout_content .form-group .form-control {
  padding: 0.8rem 1.6rem;
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  height: 4rem;
}
.untree_co-section.checkout .checkout_content .form-group .post_num {
  display: flex;
}
.untree_co-section.checkout .checkout_content .form-group .post_num button {
  margin-left: 1.6rem;
  white-space: nowrap;
}
.untree_co-section.checkout .checkout_content .form-group label {
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
}
.untree_co-section.checkout .checkout_content .form-group label .text-danger {
  margin-left: 0.4rem;
  font: 1.2rem/1.5rem "Spoqa Han Sans Neo", "sans-serif";
  line-height: 1.9rem;
}
.untree_co-section.checkout .checkout_content.right .coupon_label {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}
.untree_co-section.checkout .checkout_content.right .form-control {
  height: 4rem;
  padding: 0 1.6rem;
}
.untree_co-section.checkout .checkout_content.right .form-control + .input-group-append button {
  height: 4rem;
}

[data-type-divider=line] {
  height: 1px;
  width: 100%;
  background: #CACDD2;
  margin: 5.6rem 0;
}

.payment_box {
  border-radius: 0.4rem;
  background: rgba(77, 134, 156, 0.2);
  border: 1px solid #4D869C !important;
}
.payment_box h3 {
  color: #4D869C;
  font-weight: 500;
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
  text-decoration: unset;
  marign-bottom: 0.8rem;
}
.payment_box .collapse {
  padding: 0.8rem;
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
  border-top: 1px solid #4D869C;
  margin-top: 0.8rem;
  color: #73787E;
}

@media (max-width: 768px) {
  .untree_co-section.contact .container .bundle {
    margin-bottom: 2.4rem;
  }
  .untree_co-section.contact .container .contact_input_group .name_and_call {
    flex-direction: column;
  }
  .untree_co-section.contact .container .contact_input_group .name_and_call .col-6 {
    width: 100%;
  }
  .untree_co-section.contact .container .contact_input_group .name_and_call .col-6 .form-group {
    width: 100%;
  }
  .untree_co-section.contact .container .contact_input_group .name_and_call .col-6 .form-group .mobile_v {
    margin-bottom: 3rem;
  }
}
nav.custom-navbar {
  width: 100%;
  height: 7.4rem;
  background: #4D869C !important;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  z-index: 8000;
  box-shadow: 0 6px 10px 0 rgba(77, 134, 156, 0.5);
}
nav.custom-navbar .navbar-brand {
  font: 3.2rem/4rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 600;
  display: flex;
  justify-content: center;
}
nav.custom-navbar .navbar-brand img {
  height: 2.8rem;
}
nav.custom-navbar .navbar-toggler {
  border-color: transparent;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
}
nav.custom-navbar .navbar-toggler:active, nav.custom-navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
nav.custom-navbar .navbar-toggler .navbar-toggler-icon {
  width: 3.2rem;
  height: 3.2rem;
}
nav.custom-navbar .custom-navbar-nav li {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  height: unset;
  position: relative;
  padding: 0 0.4rem !important;
  opacity: 0.5;
  color: white !important;
  cursor: pointer;
  margin: 0 1.4rem;
  transition: 0.5s all ease;
}
nav.custom-navbar .custom-navbar-nav li:hover {
  text-shadow: #FC0 1px 0 10px;
  opacity: 0.8;
}
nav.custom-navbar .custom-navbar-nav li:hover:before {
  width: 100%;
}
nav.custom-navbar .custom-navbar-nav li.active {
  opacity: 1;
}
nav.custom-navbar .custom-navbar-nav li.active:before {
  width: 100%;
}
nav.custom-navbar .custom-navbar-cta {
  margin-left: 0 !important;
  flex-direction: row;
}
@media (min-width: 768px) {
  nav.custom-navbar .custom-navbar-cta {
    margin-left: 40px !important;
  }
}
nav.custom-navbar .custom-navbar-cta li {
  margin-left: 0;
  margin-right: 0;
}
nav.custom-navbar .custom-navbar-cta li .icon {
  transition: all 0.3s;
}
nav.custom-navbar .custom-navbar-cta li .icon.user:hover {
  background: center/contain no-repeat url("../icons/icon_24_user_hover.svg");
}
nav.custom-navbar .custom-navbar-cta li .icon.cart:hover {
  background: center/contain no-repeat url("../icons/icon_24_cart_hover.svg");
}
nav.custom-navbar .custom-navbar-cta li .icon.cart {
  position: relative;
}
nav.custom-navbar .custom-navbar-cta li .icon.cart .cart_count {
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  background: #E38A27;
  color: white;
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
}
nav.custom-navbar .custom-navbar-cta li:first-child {
  margin-right: 20px;
}

@media (max-width: 992px) {
  nav.custom-navbar .custom-navbar-nav li {
    margin: 0 1.2rem;
    font: 1.2rem/1.5rem "Spoqa Han Sans Neo", "sans-serif";
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  nav.custom-navbar .custom-navbar-nav li:before {
    content: "";
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    background: #E38A27;
    border-radius: 5rem;
    height: 0.4rem;
    opacity: 1;
    visibility: visible;
    width: 0;
    transition: 0.15s all ease-in;
  }
}
@media (max-width: 768px) {
  nav .container {
    position: relative;
  }
  nav .container .collapse.navbar-collapse {
    width: 100%;
    position: absolute;
    top: 5.4rem;
    left: 0;
    background: #4D869C;
    box-shadow: 0 6px 6px 0 rgba(255, 255, 255, 0.2);
    border-radius: 0 0 1.6rem 1.6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-out;
    height: 0;
  }
  nav .container .collapse.navbar-collapse.show {
    height: 402px;
  }
  nav .container .collapse.navbar-collapse.show .custom-navbar-nav.navbar-nav {
    margin: 0;
  }
  nav .container .collapse.navbar-collapse.show .custom-navbar-nav.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    height: 5.6rem;
    font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
    padding: 0 2.4rem !important;
    margin: 0 !important;
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  nav .container .custom-navbar-cta {
    padding: 1.6rem 2.4rem;
    margin: 0 !important;
  }
  nav .container .custom-navbar-cta li:first-child {
    margin-right: 2.4rem;
  }
}
.footer-section {
  padding: 80px 0;
  background: white;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  color: #474C52;
}
.footer-section .menu_wrap {
  justify-content: space-between;
  margin-bottom: 8rem !important;
}
.footer-section .menu_wrap .left_side .support .center {
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500;
  color: #9FA4A8;
}
.footer-section .menu_wrap .left_side .support .customer_center {
  font: 2.8rem/3.5rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.footer-section .menu_wrap .left_side .support p:nth-of-type(n+3) {
  margin-bottom: 0.4rem;
  color: #73787E;
}
.footer-section .relative {
  position: relative;
}
.footer-section a {
  text-decoration: none;
  color: #2f2f2f;
  transition: 0.3s all ease;
}
.footer-section a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.footer-section .subscription-form {
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
@media (min-width: 992px) {
  .footer-section .subscription-form {
    margin-top: 0;
    margin-bottom: 80px;
  }
}
.footer-section .subscription-form h3 {
  font-size: 18px;
  font-weight: 500;
  color: #4D869C;
  margin-bottom: 1.6rem;
}
.footer-section .subscription-form .form-control {
  min-width: 16rem;
  height: 50px;
  border-radius: 10px;
  padding: 1.2rem;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}
.footer-section .subscription-form .form-control[type=text] {
  width: 14rem;
}
.footer-section .subscription-form .form-control[type=email] {
  width: 24rem;
}
.footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #4D869C;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.footer-section .subscription-form .btn {
  border-radius: 10px !important;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .subscription-form .btn .fa-paper-plane {
  font-size: 14px;
}
.footer-section [data-type=line] {
  width: 100%;
  height: 1px;
  background: #EAEBED;
  margin: 2rem 0 4rem;
}
.footer-section .sofa-img {
  position: absolute;
  top: -14rem;
  z-index: 1;
  right: 0;
}
.footer-section .sofa-img img {
  max-width: 30rem;
  filter: saturate(0.4);
}
@media (max-width: 768px) {
  .footer-section .sofa-img {
    right: 2.4rem;
  }
  .footer-section .sofa-img img {
    max-width: 20rem;
  }
}
.footer-section .links-wrap {
  margin-top: 0;
  display: flex;
  justify-content: end;
}
.footer-section .links-wrap .bundle {
  width: 20%;
  margin-right: 4rem;
  padding: 0;
}
.footer-section .links-wrap .bundle:first-of-type {
  width: auto;
  white-space: nowrap;
}
.footer-section .links-wrap .bundle:last-of-type {
  margin-right: 0;
}
.footer-section .links-wrap .bundle .list-unstyled.not_link {
  color: #474C52;
}
.footer-section .links-wrap .bundle h4 {
  font: 1.8rem/2.3rem "Spoqa Han Sans Neo", "sans-serif";
  margin-bottom: 2rem;
  color: #27282C;
  font-weight: 500;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #CACDD2;
}
.footer-section .links-wrap .bundle ul li {
  margin-bottom: 0.8rem;
}
.footer-section .links-wrap .bundle ul li.emp {
  font-weight: 700;
}
.footer-section .links-wrap .bundle ul li a {
  color: #9FA4A8;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  transition: all 0.3s;
}
.footer-section .links-wrap .bundle ul li a:hover {
  font-weight: 500;
  color: #4D869C;
}
@media (min-width: 992px) {
  .footer-section .links-wrap {
    margin-top: 54px;
  }
}
.footer-section .footer-logo-wrap .footer-logo img {
  height: 3.2rem;
}
.footer-section .custom-social li {
  margin-right: 1.2rem;
  display: inline-block;
}
.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #dce5e4;
  color: #4D869C;
  border-radius: 50%;
}
.footer-section .custom-social li a:hover {
  background: #4D869C;
  color: white;
}
.footer-section .border-top {
  border-color: #dce5e4;
}
.footer-section .border-top.copyright {
  color: #CACDD2;
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
}
.footer-section .border-top.copyright .text-lg-start {
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
}

@media (max-width: 768px) {
  footer.footer-section {
    padding: 4rem 0;
  }
  footer.footer-section .subscription-form h3 {
    font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
  }
  footer.footer-section [data-type=line] {
    margin: 4rem 0;
  }
  footer.footer-section .menu_wrap {
    margin-bottom: 2.4rem !important;
  }
  footer.footer-section .menu_wrap .left_side {
    padding: 0 1.5rem;
  }
  footer.footer-section .menu_wrap .left_side .footer-logo-wrap {
    margin-bottom: 2.4rem !important;
  }
  footer.footer-section .menu_wrap .left_side .support {
    margin-bottom: 2.4rem !important;
  }
  footer.footer-section .menu_wrap .left_side .support .customer_center {
    margin-bottom: 1.6rem;
  }
  footer.footer-section .menu_wrap .left_side .support p:nth-of-type(3) {
    margin-bottom: 0.8rem;
    color: #27282C;
    font-weight: 500;
  }
  footer.footer-section .menu_wrap .right_side .links-wrap {
    flex-direction: column;
  }
  footer.footer-section .menu_wrap .right_side .links-wrap .bundle {
    width: 100%;
    margin: 0 0 3.2rem 0;
  }
  footer.footer-section .menu_wrap .right_side .links-wrap .bundle h4 {
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
  }
  footer.footer-section .copyright .first {
    margin-bottom: 0.8rem;
  }
  footer.footer-section .copyright .second .list-unstyled {
    flex-direction: column;
  }
  footer.footer-section .copyright .second .list-unstyled li a {
    color: #4D869C;
  }
  footer.footer-section .copyright .second .list-unstyled li.me-4 {
    margin-right: 0 !important;
    margin-bottom: 0.4rem;
  }
}
.hero {
  overflow: hidden;
  background: #4D869C;
  display: flex;
  align-items: center;
  height: calc(100vh - 7.4rem);
}
.hero.noneMain {
  height: 30rem;
}
@media (max-width: 768px) {
  .hero.noneMain {
    height: 16rem;
  }
  .hero.noneMain .inner_container {
    padding: 0;
  }
  .hero.noneMain .inner_container .col-lg-5 {
    padding: 0;
  }
}
.hero .col-lg-5 {
  width: 100%;
}
.hero .col-lg-5 .intro-excerpt {
  width: 100%;
  position: relative;
  z-index: 4;
}
.hero .col-lg-5 .intro-excerpt h1 {
  width: 100%;
  font-weight: 700;
  color: white;
  margin-bottom: 3rem;
  white-space: nowrap;
}
.hero .col-lg-5 .intro-excerpt h1 .top {
  font-weight: 100;
  opacity: 0.6;
}
.hero .col-lg-5 .intro-excerpt h1 i {
  opacity: 0.4;
  margin-right: 1.6rem;
}
.hero .col-lg-5 .intro-excerpt .sub_info {
  opacity: 0.8;
  color: #EAEBED;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 300 !important;
  margin-bottom: 2.4rem !important;
}
.hero .col-lg-5 .intro-excerpt .sub_info span {
  display: block;
  margin-bottom: 0.8rem;
}
.hero .col-lg-5 .intro-excerpt .sub_info span:last-of-type {
  margin-bottom: 0;
}
.hero .col-lg-5 p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.hero .col-lg-5 p.multi_btn_wrap {
  margin-bottom: 0;
}
.hero .col-lg-5 p.multi_btn_wrap .btn {
  color: white;
  font: 1.2rem/1.5rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500;
}
.hero .col-lg-5 p.multi_btn_wrap .btn.btn-secondary:hover {
  border: 1px solid white;
}
.hero .col-lg-5 p.multi_btn_wrap .btn.btn-white-outline {
  background: rgba(255, 255, 255, 0.2);
}
.hero .col-lg-5 p.multi_btn_wrap .btn.btn-white-outline:hover {
  background: rgba(255, 255, 255, 0.4);
}
.hero .position {
  position: relative;
}
.hero .position .hero-img-wrap img.img-fluid {
  max-width: unset;
  opacity: 0.8;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.hero .position .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: 0px;
}

@media (max-width: 576px) {
  .hero .position .col-lg-5 {
    padding-bottom: 22rem;
  }
  .hero .position .col-lg-5 .intro-excerpt {
    max-width: 450px;
  }
  .hero .position .col-lg-5 .intro-excerpt h1 {
    font-size: 36px;
  }
  .hero .position .col-lg-5 .intro-excerpt h1 .bottom {
    white-space: break-spaces;
  }
  .hero .position .hero-img-wrap::after {
    right: -20rem;
    top: 14rem;
    width: 30rem;
    height: 30rem;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    top: 100%;
    right: -40rem;
    min-height: 80%;
  }
}
@media (min-width: 576px) {
  .hero .position .col-lg-5 {
    padding-bottom: 22rem;
  }
  .hero .position .col-lg-5 .intro-excerpt {
    max-width: 450px;
  }
  .hero .position .col-lg-5 .intro-excerpt h1 {
    font-size: 60px;
  }
  .hero .position .hero-img-wrap::after {
    right: -20rem;
    top: 0;
    width: 30rem;
    height: 30rem;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    top: 90%;
    right: -55rem;
    min-height: calc(100% + 4rem);
  }
}
@media (min-width: 768px) {
  .hero .position .col-lg-5 {
    padding-bottom: 0;
  }
  .hero .position .col-lg-5 .intro-excerpt {
    max-width: 450px;
  }
  .hero .position .col-lg-5 .intro-excerpt h1 {
    font-size: 60px;
  }
  .hero .position .hero-img-wrap::after {
    right: -20rem;
    top: -16rem;
    width: 30rem;
    height: 30rem;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    right: -40rem;
    min-height: calc(100% + 8rem);
  }
}
@media (min-width: 992px) {
  .hero .col-lg-5 .intro-excerpt {
    max-width: 450px;
  }
  .hero .col-lg-5 .intro-excerpt h1 {
    font-size: 80px;
  }
  .hero .col-lg-5 .intro-excerpt .sub_info {
    font: 2rem/2.5rem "Spoqa Han Sans Neo", "sans-serif";
    margin-bottom: 4rem !important;
  }
  .hero .position .hero-img-wrap::after {
    right: 0;
    top: -3rem;
    width: 30rem;
    height: 30rem;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    right: 0;
    opacity: 1;
    min-height: 80%;
  }
}
@media (min-width: 1200px) {
  .hero .intro-excerpt {
    max-width: 450px;
  }
  .hero .intro-excerpt h1 {
    font-size: 80px;
  }
  .hero .intro-excerpt .sub_info {
    font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  }
  .hero .position .hero-img-wrap::after {
    right: 0;
    top: -10rem;
    width: 30rem;
    height: 30rem;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    min-height: calc(100% + 12rem);
    max-height: unset;
    opacity: 0.8;
  }
}
@media (min-width: 1400px) {
  .hero .intro-excerpt {
    max-width: 450px;
  }
  .hero .intro-excerpt h1 {
    font-size: 80px;
  }
  .hero .position .hero-img-wrap::after {
    top: -16rem;
    width: 40rem;
    height: 40rem;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    min-height: calc(100% + 16rem);
  }
}
.hero .container .position .slick-slider.slick-initialized {
  z-index: 10;
}
.hero .container .position .slick-slider.slick-initialized .slick-dots li.slick-active button::before {
  color: white;
}
.hero .container .position .slick-slider.slick-initialized .slick-dots li button::before {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

.app {
  height: 100%;
}
.app .login {
  height: 100%;
  display: flex;
  position: relative;
}
.app .login .input_field_window {
  width: 60rem;
  display: flex;
  background: white;
  border-radius: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(59, 93, 80, 0.4);
}
.app .login .input_field_window .side {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.6rem;
}
.app .login .input_field_window .side.left {
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #4D869C;
  border-radius: 1.2rem 0 0 1.2rem;
}
.app .login .input_field_window .side.left img {
  height: 4.4rem;
  margin-top: 2.4rem;
}
.app .login .input_field_window .side.left .comment.top {
  font-weight: 100 !important;
  opacity: 0.6;
  font: 1.7rem/2.1rem "Spoqa Han Sans Neo", "sans-serif";
  color: white;
}
.app .login .input_field_window .side.right {
  width: 50%;
  justify-content: center;
}
.app .login .input_field_window .side.right h3 {
  margin-bottom: 6rem;
  font: 3.2rem/4rem "Spoqa Han Sans Neo", "sans-serif";
  color: #4D869C;
  font-weight: 700;
}
.app .login .input_field_window .side.right input {
  height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid #ced4da;
  margin-bottom: 1.6rem;
  padding: 0.8rem 1.2rem;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  color: #4D869C;
  transition: all 0.5s;
}
.app .login .input_field_window .side.right input:focus {
  border: 1px solid #4D869C;
  box-shadow: 0 0 8px 0 rgba(77, 134, 156, 0.6);
}
.app .login .input_field_window .side.right input:last-of-type {
  margin-bottom: 0;
}
.app .login .input_field_window .side.right .sign_up_wrap {
  margin: 6rem 0 2.4rem;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  color: #9FA4A8;
}
.app .login .input_field_window .side.right .sign_up_wrap .flat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.app .login .input_field_window .side.right .sign_up_wrap .flat:last-of-type {
  margin-bottom: 0;
}
.app .login .input_field_window .side.right .sign_up_wrap .flat span {
  font-weight: 700;
  color: #4D869C;
}
.app .login .input_field_window .side.right button.login_btn {
  background: #4D869C;
  border-radius: 5rem;
  color: white;
  height: 4rem;
  font-weight: 700;
  font: 1.8rem/2.3rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
  transition: all 0.4s;
}
.app .login .input_field_window .side.right button.login_btn:hover {
  opacity: 0.4;
  box-shadow: 0 0 8px 0 #4D869C;
}
.app .login .input_field_window .side.right button.sign_up {
  color: #4D869C;
  font-weight: 700;
  transition: all 0.4s;
}
.app .login .input_field_window .side.right button.sign_up:hover {
  opacity: 0.4;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .app .login .input_field_window {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #4D869C;
  }
  .app .login .input_field_window .side.left {
    width: 100%;
    border-radius: 0;
    background: unset;
    padding: 0;
  }
  .app .login .input_field_window .side.left .comment {
    font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
    font-weight: 300;
  }
  .app .login .input_field_window .side.left .comment.top {
    display: none;
  }
  .app .login .input_field_window .side.left img {
    height: 6rem;
  }
  .app .login .input_field_window .side.right {
    width: 100%;
    background: unset;
    padding: 2.4rem;
    margin-top: 4.8rem;
  }
  .app .login .input_field_window .side.right h3 {
    display: none;
  }
  .app .login .input_field_window .side.right input {
    background: #dce5e4;
  }
  .app .login .input_field_window .side.right input::placeholder {
    color: #9FA4A8;
  }
  .app .login .input_field_window .side.right .sign_up_wrap .flat {
    font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.6rem;
  }
  .app .login .input_field_window .side.right .sign_up_wrap .flat span {
    color: white;
  }
  .app .login .input_field_window .side.right .sign_up_wrap .flat button {
    color: white;
  }
  .app .login .input_field_window .side.right button.login_btn {
    background: white;
    color: #4D869C;
    font: 2.4rem/3rem "Spoqa Han Sans Neo", "sans-serif";
    height: 4.8rem;
    margin-top: 4.8rem;
    font-weight: 700;
  }
}
body {
  overflow-x: hidden;
  position: relative;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  background-color: #eff2f1;
}
body #root {
  width: 100%;
  height: 100%;
}
body #root .app {
  width: 100%;
  min-height: 100%;
  position: relative;
}
body #root .app .main_frame {
  overflow-x: hidden;
  margin-top: 7.4rem;
}

.app .sign_up_content_wrap .input_field_window {
  display: flex;
  flex-direction: column;
  background: white;
  width: 40vw;
  height: calc(100vh - 8rem);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1.2rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(59, 93, 80, 0.4);
  padding: 2.4rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .divider {
  width: 100%;
  height: 1px;
  background: #EAEBED;
  margin: 4rem 0;
}
.app .sign_up_content_wrap .input_field_window .scroll_position h2 {
  font: 3rem/3.8rem "Spoqa Han Sans Neo", "sans-serif";
  margin-bottom: 0.4rem;
  color: #4D869C;
  font-weight: 700;
}
.app .sign_up_content_wrap .input_field_window .scroll_position h2 + p {
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
  color: #73787E;
  margin-bottom: 3.2rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  margin-bottom: 0.8rem;
  justify-content: center;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group .stretch {
  display: flex;
  width: 100%;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group.address {
  margin-bottom: 0;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group.address .col-md-6 {
  margin-bottom: 0.8rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group.address .post_num {
  display: flex;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group.detail_address .form-control {
  height: 4rem;
  padding: 0 1.6rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group .col-md-6 {
  width: 100%;
  margin-bottom: 1.6rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group .col-md-6 .flex {
  width: 32rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group .col-md-6 .text-black {
  display: flex;
  margin-bottom: 0.8rem;
  font: 1.5rem/1.9rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500;
  color: #73787E !important;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group .col-md-6 .form-control {
  width: 100%;
  height: 4rem;
  padding: 0 1.6rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .form-group .col-md-6 .side_btn {
  height: 4rem;
  padding: 0 1.6rem;
  border-radius: 1rem;
  white-space: nowrap;
  margin-left: 1.2rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .signUp_btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .signUp_btn_wrap .goBack_btn {
  width: 100%;
  height: 4.8rem;
  background: #2f2f2f;
  color: white;
  font: 1.8rem/2.3rem "Spoqa Han Sans Neo", "sans-serif";
  border-radius: 5rem;
  font-weight: 700;
  margin-right: 1.6rem;
}
.app .sign_up_content_wrap .input_field_window .scroll_position .signUp_btn_wrap .signUp_btn {
  width: 100%;
  height: 4.8rem;
  background: #4D869C;
  color: white;
  font: 1.8rem/2.3rem "Spoqa Han Sans Neo", "sans-serif";
  border-radius: 5rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .app .sign_up_content_wrap .input_field_window {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    padding: 2.4rem 0.8rem;
  }
  .app .sign_up_content_wrap .input_field_window .simplebar-content {
    padding: 0 0.8rem;
  }
}
.app .user_info_wrap {
  padding: 3.2rem 0;
}
.app .user_info_wrap h2 {
  font: 2.4rem/3rem "Spoqa Han Sans Neo", "sans-serif";
  color: #73787E;
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .user_info_wrap .name_box .fa-circle-user {
  display: flex;
  justify-content: center;
}
.app .user_info_wrap .name_box .fa-circle-user::before {
  font-size: 100px;
  color: #4D869C;
  margin: 0 auto;
}
.app .user_info_wrap .name_box h4 {
  margin-top: 1.2rem;
  text-align: center;
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500 !important;
  color: #474C52 !important;
}
.app .user_info_wrap .info_box_wrap {
  width: calc(100% - 40rem);
  margin: 2.4rem auto;
  border-top: 1px solid #4D869C;
  border-bottom: 1px solid #4D869C;
  padding: 1.6rem;
  font: 1.6rem/2rem "Spoqa Han Sans Neo", "sans-serif";
}
.app .user_info_wrap .info_box_wrap .info_box_bundle {
  display: flex;
  align-items: center;
  padding: 1.6rem 0.8rem;
  border-bottom: 1px solid #CACDD2;
}
.app .user_info_wrap .info_box_wrap .info_box_bundle:last-of-type {
  border-bottom: unset;
}
.app .user_info_wrap .info_box_wrap .info_box_bundle .left {
  margin-right: 1.6rem;
  font-weight: 500;
}
.app .user_info_wrap .info_box_wrap .info_box_bundle .right {
  border-radius: 0.8rem;
  border: 1px solid #CACDD2;
  padding: 0.8rem 1.6rem;
}

.testimonial-section .container .row .section-title {
  margin-bottom: 1.6rem;
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized button.slick-arrow {
  background: #4D869C;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  z-index: 1000;
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized button.slick-arrow::before {
  color: white;
  font: 2.8rem/3.5rem "Spoqa Han Sans Neo", "sans-serif";
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized button.slick-arrow.slick-prev::before {
  content: "<";
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized button.slick-arrow.slick-next::before {
  content: ">";
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized .slick-dots li {
  margin: 0;
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized .slick-dots li button {
  padding: 0;
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized .slick-dots li button::before {
  line-height: 2rem;
  font-size: 1rem;
}
.testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized .slick-dots li.slick-active button::before {
  color: #4D869C;
}

@media (max-width: 768px) {
  .testimonial-section .container .row.justify-content-center .slick-slider.slick-initialized button.slick-arrow {
    display: none !important;
  }
}

/*# sourceMappingURL=main.css.map */
