@charset "UTF-8";
.mt4 {
  margin-top: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mt28 {
  margin-top: 28px;
}

.mb28 {
  margin-bottom: 28px;
}

.ml28 {
  margin-left: 28px;
}

.mr28 {
  margin-right: 28px;
}

.mt32 {
  margin-top: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.ml32 {
  margin-left: 32px;
}

.mr32 {
  margin-right: 32px;
}

/* 변수 및 공통 SCSS 정의 */
/* color setting */
/* font-weight */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Light.eot") format("eot");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.ttf") format("truetype"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.woff2") format("woff2"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.woff") format("woff"), url("../font/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Thin.eot") format("eot");
}
/* common layout properties */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  border: none;
  background: transparent;
}

th, td {
  font-weight: unset;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}

canvas {
  box-sizing: border-box;
}

/* font-family */
:is(html, body, pre, button, input, textarea) {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

input[type=text i] {
  padding: 0;
}

input:focus {
  outline: none;
}

body,
html {
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  min-height: -webkit-fill-available;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.non_cursor {
  caret-color: transparent;
}

/* chrome 아이디, 패스워드 저장시에 input background 변경 막기 */
/* 배경색과 동일하게 맞추기 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input:disabled {
  background: transparent;
  color: black;
  /* safari & ios :disabled font-color change */
  -webkit-text-fill-color: black;
  -webkit-opacity: 1;
}

input:focus {
  /* prevent the input like button */
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
}

.icon.user {
  background: center/contain no-repeat url("../icons/icon_24_user.svg");
  min-width: 2.4rem;
  min-height: 2.4rem;
}
.icon.cart {
  background: center/contain no-repeat url("../icons/icon_24_cart.svg");
  min-width: 2.4rem;
  min-height: 2.4rem;
}
.icon.envelope {
  background: center/contain no-repeat url("../icons/icon_28_envelope.svg");
  min-width: 2.8rem;
  min-height: 2.8rem;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
  color: #2f2f2f;
  text-decoration: underline;
}
a:hover {
  color: #2f2f2f;
  text-decoration: none;
}
a.more {
  font-weight: 600;
}

.container {
  padding: 0 2.4rem;
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  background: #2f2f2f;
  border-color: #2f2f2f;
}
.btn:hover {
  color: white;
  background: #222222;
  border-color: #222222;
}
.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn.btn-primary {
  background: #3b5d50;
  border-color: #3b5d50;
}
.btn.btn-primary:hover {
  background: #314d43;
  border-color: #314d43;
}
.btn.btn-secondary {
  color: #2f2f2f;
  background: #f9bf29;
  border-color: #f9bf29;
}
.btn.btn-secondary:hover {
  background: #f8b810;
  border-color: #f8b810;
}
.btn.btn-white-outline {
  background: transparent;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.3);
}
.btn.btn-white-outline:hover {
  border-color: white;
  color: white;
}

.section-title {
  color: #2f2f2f;
}

.product-section {
  padding: 7rem 0;
}
.product-section .product-item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 50px;
  cursor: pointer;
}
.product-section .product-item .product-thumbnail {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  transition: 0.3s all ease;
}
.product-section .product-item h3 {
  font-weight: 600;
  font-size: 16px;
}
.product-section .product-item strong {
  font-weight: 800 !important;
  font-size: 18px !important;
}
.product-section .product-item h3, .product-section .product-item strong {
  color: #2f2f2f;
  text-decoration: none;
}
.product-section .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #2f2f2f;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -17.5px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}
.product-section .product-item .icon-cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-section .product-item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #dce5e4;
  height: 0%;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.product-section .product-item:hover .product-thumbnail {
  top: -25px;
}
.product-section .product-item:hover .icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.product-section .product-item:hover:before {
  height: 70%;
}

.why-choose-section {
  padding: 7rem 0;
}
.why-choose-section .img-wrap {
  position: relative;
}
.why-choose-section .img-wrap:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-40%, -40%);
  z-index: -1;
}
.why-choose-section .img-wrap img {
  border-radius: 20px;
}

.feature {
  margin-bottom: 30px;
}
.feature .icon {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.feature .icon:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  background: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  right: -8px;
  bottom: 0;
}
.feature h3 {
  font-size: 14px;
  color: #2f2f2f;
}
.feature p {
  font-size: 14px;
  line-height: 22px;
  color: #6a6a6a;
}

.we-help-section {
  padding: 7rem 0;
}
.we-help-section .imgs-grid {
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  position: relative;
}
.we-help-section .imgs-grid:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-40%, -40%);
  z-index: -1;
}
.we-help-section .imgs-grid .grid {
  position: relative;
}
.we-help-section .imgs-grid .grid img {
  border-radius: 20px;
  max-width: 100%;
}
.we-help-section .imgs-grid .grid.grid-1 {
  grid-column: 1/span 18;
  grid-row: 1/span 27;
}
.we-help-section .imgs-grid .grid.grid-2 {
  grid-column: 19/span 27;
  grid-row: 1/span 5;
  padding-left: 20px;
}
.we-help-section .imgs-grid .grid.grid-3 {
  grid-column: 14/span 16;
  grid-row: 6/span 27;
  padding-top: 20px;
}

.custom-list {
  width: 100%;
}
.custom-list li {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 12px;
  line-height: 1.5;
  position: relative;
  padding-left: 20px;
}
.custom-list li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #3b5d50;
  position: absolute;
  left: 0;
  top: 8px;
}

.popular-product {
  padding: 0 0 7rem 0;
}
.popular-product .product-item-sm h3 {
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
}
.popular-product .product-item-sm a {
  text-decoration: none;
  color: #2f2f2f;
  transition: 0.3s all ease;
}
.popular-product .product-item-sm a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.popular-product .product-item-sm p {
  line-height: 1.4;
  margin-bottom: 10px;
  font-size: 14px;
}
.popular-product .product-item-sm .thumbnail {
  margin-right: 10px;
  flex: 0 0 120px;
  position: relative;
}
.popular-product .product-item-sm .thumbnail:before {
  content: "";
  position: absolute;
  border-radius: 20px;
  background: #dce5e4;
  width: 98px;
  height: 98px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.testimonial-section {
  padding: 3rem 0 7rem 0;
}

.testimonial-slider-wrap {
  position: relative;
}
.testimonial-slider-wrap .tns-inner {
  padding-top: 30px;
}
.testimonial-slider-wrap .item .testimonial-block blockquote {
  font-size: 16px;
}
@media (min-width: 768px) {
  .testimonial-slider-wrap .item .testimonial-block blockquote {
    line-height: 32px;
    font-size: 18px;
  }
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic {
  margin-bottom: 20px;
}
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic img {
  max-width: 80px;
  border-radius: 50%;
}
.testimonial-slider-wrap .item .testimonial-block .author-info h3 {
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 0;
}
.testimonial-slider-wrap #testimonial-nav {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .testimonial-slider-wrap #testimonial-nav {
    display: block;
  }
}
.testimonial-slider-wrap #testimonial-nav > span {
  cursor: pointer;
  position: absolute;
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  background: rgba(59, 93, 80, 0.1);
  color: #2f2f2f;
  transition: 0.3s all ease;
}
.testimonial-slider-wrap #testimonial-nav > span:hover {
  background: #3b5d50;
  color: white;
}
.testimonial-slider-wrap #testimonial-nav .prev {
  left: -10px;
}
.testimonial-slider-wrap #testimonial-nav .next {
  right: 0;
}
.testimonial-slider-wrap .tns-nav {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-slider-wrap .tns-nav button {
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  width: 0 !important;
  height: 7px !important;
  margin: 2px;
}
.testimonial-slider-wrap .tns-nav button:active, .testimonial-slider-wrap .tns-nav button:focus, .testimonial-slider-wrap .tns-nav button:hover {
  outline: none;
  box-shadow: none;
  background: none;
}
.testimonial-slider-wrap .tns-nav button:before {
  display: block;
  width: 7px;
  height: 7px;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: 0.3s all ease;
  background-color: #d6d6d6;
}
.testimonial-slider-wrap .tns-nav button:hover:before, .testimonial-slider-wrap .tns-nav button.tns-nav-active:before {
  background-color: #3b5d50;
}

.before-footer-section {
  padding: 7rem 0 12rem 0 !important;
}

.blog-section {
  padding: 7rem 0 12rem 0;
}
.blog-section .post-entry a {
  text-decoration: none;
}
.blog-section .post-entry .post-thumbnail {
  display: block;
  margin-bottom: 20px;
}
.blog-section .post-entry .post-thumbnail img {
  border-radius: 20px;
  transition: 0.3s all ease;
}
.blog-section .post-entry .post-content-entry {
  padding-left: 15px;
  padding-right: 15px;
}
.blog-section .post-entry .post-content-entry h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  margin-bottom: 7px;
}
.blog-section .post-entry .post-content-entry .meta {
  font-size: 14px;
}
.blog-section .post-entry .post-content-entry .meta a {
  font-weight: 600;
}
.blog-section .post-entry:hover .post-thumbnail img, .blog-section .post-entry:focus .post-thumbnail img {
  opacity: 0.7;
}

.untree_co-section {
  padding: 7rem 0;
}

.form-control {
  height: 50px;
  border-radius: 10px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #3b5d50;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.form-control::-webkit-input-placeholder {
  font-size: 14px;
}
.form-control::-moz-placeholder {
  font-size: 14px;
}
.form-control:-ms-input-placeholder {
  font-size: 14px;
}
.form-control:-moz-placeholder {
  font-size: 14px;
}

.service {
  line-height: 1.5;
}
.service .service-icon {
  border-radius: 10px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3b5d50;
  margin-right: 20px;
  color: white;
}

textarea {
  height: auto !important;
}

.site-blocks-table {
  overflow: auto;
}
.site-blocks-table .product-thumbnail {
  width: 200px;
}
.site-blocks-table .btn {
  padding: 2px 10px;
}
.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 0px !important;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}
.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #3b5d50 !important;
}
.site-blocks-table .btn {
  background: none !important;
  color: black;
  border: none;
  height: auto !important;
}

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important;
}
.site-block-order-table td, .site-block-order-table th {
  color: black;
}

.couponcode-wrap input {
  border-radius: 10px !important;
}
.text-primary {
  color: #3b5d50 !important;
}

.thankyou-icon {
  position: relative;
  color: #3b5d50;
}
.thankyou-icon:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(59, 93, 80, 0.2);
}

nav.custom-navbar {
  background: #3b5d50 !important;
  padding: 2rem 0;
}
nav.custom-navbar .navbar-brand {
  font: 3.2rem/4rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 600;
  display: flex;
  justify-content: center;
}
nav.custom-navbar .navbar-brand img {
  height: 2.8rem;
}
nav.custom-navbar .navbar-toggler {
  border-color: transparent;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
}
nav.custom-navbar .navbar-toggler:active, nav.custom-navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
nav.custom-navbar .navbar-toggler .navbar-toggler-icon {
  width: 3.2rem;
  height: 3.2rem;
}
nav.custom-navbar .custom-navbar-nav li {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  height: unset;
  position: relative;
  padding: 0 0.4rem !important;
  opacity: 0.5;
  color: white !important;
  transition: 0.3s all ease;
  cursor: pointer;
}
@media (min-width: 992px) {
  nav.custom-navbar .custom-navbar-nav li {
    margin: 0 1.4rem;
  }
}
@media (min-width: 768px) {
  nav.custom-navbar .custom-navbar-nav li:before {
    content: "";
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    background: #f9bf29;
    border-radius: 5rem;
    height: 0.4rem;
    opacity: 1;
    visibility: visible;
    width: 0;
    transition: 0.15s all ease-in;
  }
}
nav.custom-navbar .custom-navbar-nav li:hover {
  opacity: 1;
}
nav.custom-navbar .custom-navbar-nav li:hover:before {
  width: 100%;
}
nav.custom-navbar .custom-navbar-nav li.active {
  opacity: 1;
}
nav.custom-navbar .custom-navbar-nav li.active:before {
  width: 100%;
}
nav.custom-navbar .custom-navbar-cta {
  margin-left: 0 !important;
  flex-direction: row;
}
@media (min-width: 768px) {
  nav.custom-navbar .custom-navbar-cta {
    margin-left: 40px !important;
  }
}
nav.custom-navbar .custom-navbar-cta li {
  margin-left: 0px;
  margin-right: 0px;
}
nav.custom-navbar .custom-navbar-cta li:first-child {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .collapse .navbar-collapse.show .custom-navbar-nav.navbar-nav .nav-item {
    background: black;
  }
}
.footer-section {
  padding: 80px 0;
  background: white;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}
.footer-section .relative {
  position: relative;
}
.footer-section a {
  text-decoration: none;
  color: #2f2f2f;
  transition: 0.3s all ease;
}
.footer-section a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.footer-section .subscription-form {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
@media (min-width: 992px) {
  .footer-section .subscription-form {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}
.footer-section .subscription-form h3 {
  font-size: 18px;
  font-weight: 500;
  color: #3b5d50;
  margin-bottom: 0.8rem;
}
.footer-section .subscription-form .form-control {
  min-width: 16rem;
  height: 50px;
  border-radius: 10px;
  padding: 1.2rem;
}
.footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #3b5d50;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.footer-section .subscription-form .form-control::-webkit-input-placeholder, .footer-section .subscription-form .form-control::-moz-placeholder, .footer-section .subscription-form .form-control:-ms-input-placeholder, .footer-section .subscription-form .form-control:-moz-placeholder {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}
.footer-section .subscription-form .btn {
  border-radius: 10px !important;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .subscription-form .btn .fa-paper-plane {
  font-size: 14px;
}
.footer-section .sofa-img {
  position: absolute;
  top: -200px;
  z-index: 1;
  right: 0;
}
.footer-section .sofa-img img {
  max-width: 380px;
}
.footer-section .links-wrap {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .footer-section .links-wrap {
    margin-top: 54px;
  }
}
.footer-section .links-wrap ul li {
  margin-bottom: 10px;
}
.footer-section .footer-logo-wrap .footer-logo img {
  height: 3.2rem;
}
.footer-section .custom-social li {
  margin: 2px;
  display: inline-block;
}
.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #dce5e4;
  color: #3b5d50;
  border-radius: 50%;
}
.footer-section .custom-social li a:hover {
  background: #3b5d50;
  color: white;
}
.footer-section .border-top {
  border-color: #dce5e4;
}
.footer-section .border-top.copyright {
  font-size: 14px !important;
}

.hero {
  background: #3b5d50;
  padding: 3rem 0 0 0;
}
.hero .intro-excerpt {
  position: relative;
  z-index: 4;
}
.hero .intro-excerpt .sub_info {
  font-size: 1.4rem;
}
.hero h1 {
  font-weight: 700;
  color: white;
  margin-bottom: 3rem;
}
.hero p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.hero p.multi_btn_wrap .btn {
  font: 1.2rem/1.5rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 500;
}
.hero .position {
  position: relative;
}
.hero .position .hero-img-wrap img.img-fluid {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.hero .position .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: 0px;
}

@media (max-width: 576px) {
  .hero {
    height: 60vh;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    top: 30rem;
    right: unset;
    left: 0;
    max-height: unset;
    min-width: 100vh;
  }
}
@media (min-width: 576px) {
  .hero {
    height: 60vh;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    top: 30rem;
    left: 20rem;
    min-width: 130vw;
    min-height: 100%;
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .hero {
    height: unset;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    top: 50%;
    right: 0;
    left: unset;
    min-width: unset;
    max-height: 100%;
    min-height: unset;
  }
}
@media (min-width: 992px) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
  .hero .intro-excerpt {
    max-width: 450px;
  }
  .hero .position .hero-img-wrap img.img-fluid {
    top: 50%;
    right: 0;
    left: unset;
    min-width: unset;
    max-height: calc(100% + 6rem);
  }
}
@media (min-width: 1200px) {
  .hero .position .hero-img-wrap:after {
    top: -40px;
  }
}
@media (min-width: 1400px) {
  .hero h1 {
    font-size: 54px;
  }
}
.app {
  height: 100%;
}
.app .login {
  height: 100%;
  display: flex;
  position: relative;
}
.app .login .input_field_window {
  width: 60rem;
  display: flex;
  background: white;
  border-radius: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(59, 93, 80, 0.4);
}
.app .login .input_field_window .side {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.6rem;
}
.app .login .input_field_window .side.left {
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #3b5d50;
  border-radius: 1.2rem 0 0 1.2rem;
}
.app .login .input_field_window .side.left img {
  height: 4rem;
  margin: 2.4rem 0;
}
.app .login .input_field_window .side.left .comment {
  font: 1.8rem/2.3rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 100;
  color: white;
  opacity: 0.6;
}
.app .login .input_field_window .side.left .comment.top {
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
}
.app .login .input_field_window .side.right {
  width: 50%;
  justify-content: center;
}
.app .login .input_field_window .side.right h3 {
  margin-bottom: 6rem;
  font: 3.2rem/4rem "Spoqa Han Sans Neo", "sans-serif";
  color: #3b5d50;
  font-weight: 700;
}
.app .login .input_field_window .side.right input {
  height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid #ced4da;
  margin-bottom: 1.6rem;
  padding: 0.8rem 1.2rem;
  font: 1.4rem/1.8rem "Spoqa Han Sans Neo", "sans-serif";
  color: #3b5d50;
}
.app .login .input_field_window .side.right input:last-of-type {
  margin-bottom: 0;
}
.app .login .input_field_window .side.right .sign_up_wrap {
  margin: 6rem 0 1.6rem;
  display: flex;
  justify-content: space-between;
  font: 1.3rem/1.6rem "Spoqa Han Sans Neo", "sans-serif";
  color: #9FA4A8;
}
.app .login .input_field_window .side.right button.login_btn {
  background: #3b5d50;
  border-radius: 5rem;
  color: white;
  height: 4rem;
  font-weight: 700;
  font: 1.8rem/2.3rem "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 700;
  transition: all 0.4s;
}
.app .login .input_field_window .side.right button.login_btn:hover {
  opacity: 0.4;
}
.app .login .input_field_window .side.right button.sign_up {
  color: #3b5d50;
  font-weight: 700;
  transition: all 0.4s;
}
.app .login .input_field_window .side.right button.sign_up:hover {
  opacity: 0.4;
  text-decoration: underline;
}

body {
  overflow-x: hidden;
  position: relative;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  background-color: #eff2f1;
}
body #root {
  width: 100%;
  height: 100%;
}
body #root .app {
  width: 100%;
  min-height: 100%;
  position: relative;
}

/*# sourceMappingURL=main.css.map */
