.footer-section {
  padding: 80px 0;
  background: $white;
  @include font(1.4rem);
  color: $gray600;
  .menu_wrap {
    justify-content: space-between;
    margin-bottom: 8rem !important;
    .left_side {
      .support {
        .center {
          @include font(1.6rem);
          font-weight: $medium;
          color: $gray400;
        }
        .customer_center {
          @include font(2.8rem);
          font-weight: $bold;
          margin-bottom: 0.8rem;
        }
        p:nth-of-type(n+3) {
          margin-bottom: 0.4rem;
          color: $gray500;
        }
      }
    }
  }
  .relative {
    position: relative;
  }
  a {
    text-decoration: none;
    color: $dark;
    transition: .3s all ease;
    &:hover {
      color: rgba($dark, .5);
    }
  }
  .subscription-form {
    position: relative;
    z-index: 2;
    margin-top: 100px;
    @media (min-width: $lg) {
      margin-top: 0;
      margin-bottom: 80px;
    }
    h3 {
      font-size: 18px;
      font-weight: 500;
      color: $primary;
      margin-bottom: 1.6rem;
    }
    .form-control {
      min-width: 16rem;
      height: 50px;
      border-radius: 10px;
      padding: 1.2rem;
      @include font(1.4rem);
      &[type=text] {
        width: 14rem;
      }
      &[type=email] {
        width: 24rem;
      }
      &:active, &:focus {
        outline: none;
        box-shadow: none;
        border-color: $primary;
        box-shadow: 0 1px 4px 0 rgba($black, .2);
      }
    }
    .btn {
      border-radius: 10px!important;
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .fa-paper-plane {
        font-size: 14px;
      }
    }
  }
  [data-type="line"] {
    width: 100%;
    height: 1px;
    background: $gray100;
    margin: 2rem 0 4rem;
  }
  .sofa-img {
    position: absolute;
    top: -14rem;
    z-index: 1;
    right: 0;
    img {
      max-width: 30rem;
      filter: saturate(0.4);
    }
    @media (max-width: $md) {
      right: 2.4rem;
      img {
        max-width: 20rem;
      }
    }
  }
  .links-wrap {
    margin-top: 0;
    display: flex;
    justify-content: end;
    .bundle {
      width: 20%;
      margin-right: 4rem;
      padding: 0;
      &:first-of-type {
        width: auto;
        white-space: nowrap;
      }
      &:last-of-type {
        margin-right: 0;
      }
      .list-unstyled {
        &.not_link {
          color: $gray600;
        }
      }
      h4 {
        @include font(1.8rem);
        margin-bottom: 2rem;
        color: $gray800;
        font-weight: $medium;
        padding-bottom: 0.4rem;
        border-bottom: 1px solid $gray200;
      }
      ul {
        li {
          margin-bottom: 0.8rem;
          &.emp {
            font-weight: $bold;
          }
          a {
            color: $gray400;
            @include font(1.4rem);
            transition: all 0.3s;
            &:hover {
              font-weight: $medium;
              color: $primary;
            }
          }
        }
      }
    }
    @media (min-width: $lg) {
      margin-top: 54px;
    }
  }
  .footer-logo-wrap {
    .footer-logo {
      img {
        height: 3.2rem;
      }
    }
  }
  .custom-social {
    li {
      margin-right: 1.2rem;
      display: inline-block;
      a {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        background: $mainLight;
        color: $primary;
        border-radius: 50%;
        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
  }
  .border-top {
    border-color: $mainLight;
    &.copyright {
      color: $gray200;
      @include font(1.3rem);
      .text-lg-start {
        @include font(1.3rem);
      }
    }
  }
}

@media (max-width: $md) {
  footer.footer-section {
    padding: 4rem 0;
    .subscription-form {
      h3 {
        @include font(1.5rem);
      }
    }
    [data-type=line] {
      margin: 4rem 0;
    }
    .menu_wrap {
      margin-bottom: 2.4rem !important;
      .left_side {
        padding: 0 1.5rem;
        .footer-logo-wrap {
          margin-bottom: 2.4rem !important;
        }
        .support {
          margin-bottom: 2.4rem !important;
          .customer_center {
            margin-bottom: 1.6rem;
          }
          p:nth-of-type(3) {
            margin-bottom: 0.8rem;
            color: $gray800;
            font-weight: $medium;
          }
        }
      }
      .right_side {
        .links-wrap {
          flex-direction: column;
          .bundle {
            width: 100%;
            margin: 0 0 3.2rem 0;
            h4 {
              padding-bottom: 0.8rem;
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }
    .copyright {
      .first {
        margin-bottom: 0.8rem;
      }
      .second {
        .list-unstyled {
          flex-direction: column;
          li {
            a {
              color: $primary;
            }
            &.me-4 {
              margin-right: 0 !important;
              margin-bottom: 0.4rem;
            }
          }
        }
      }
    }
  }
}