.hero {
  overflow: hidden;
  background: $primary;
  padding: 3rem 0 0 0;
  .intro-excerpt {
    position: relative;
    z-index: 4;
    h1 {
      font-weight: $bold;
      color: $white;
      margin-bottom: 3rem;
      i {
        opacity: 0.4;
        margin-right: 1.6rem;
      }
    }
    .sub_info {
      color: $gray100;
      font-size: 1.4rem;
    }
  }

  p {
    color: rgba($white, .5);
    margin-bottom: 30px;
    &.multi_btn_wrap {
      .btn {
        color: $white;
        @include font(1.2rem);
        font-weight: $medium;
        &.btn-secondary:hover {
          border: 1px solid $white;
        }
        &.btn-white-outline {
          background: rgba(255, 255, 255, 0.2);
          &:hover {
            background: rgba(255, 255, 255, 0.4);
          }
        }
      }
    }
  }
  .position {
    position: relative;
    .hero-img-wrap {
      img.img-fluid {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      &:after {
        content: "";
        position: absolute;
        width: 255px;
        height: 217px;
        background-image: url($img-path + 'dots-light.svg');
        background-size: contain;
        background-repeat: no-repeat;
        right: -100px;
        top: -0px;
      }
    }
  }
}

@media (max-width: $sm) {
  .hero {
    height: 60vh;
    .position {
      .hero-img-wrap {
        img.img-fluid {
          top: 30rem;
          right: unset;
          left: 0;
          max-height: unset;
          min-width: 100vh;
        }
      }
    }
  }
}

@media (min-width: $sm) {
  .hero {
    height: 60vh;
    .position {
      .hero-img-wrap {
        img.img-fluid {
          top: 30rem;
          left: 20rem;
          min-width: 130vw;
          min-height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (min-width: $md) {
  .hero {
    height: unset;
    .position {
      .hero-img-wrap {
        img.img-fluid {
          top: 50%;
          right: 0;
          left: unset;
          min-width: unset;
          max-height: calc(100%);
          min-height: unset;
        }
      }
    }
  }
}

@media (min-width: $lg) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
    .intro-excerpt {
      max-width: 450px;
    }
    .position {
      .hero-img-wrap {
        img.img-fluid {
          top: 50%;
          right: 0;
          left: unset;
          min-width: unset;
          max-height: calc(100% + 6rem);
        }
      }
    }
  }
}

@media (min-width: $xl) {
  .hero {
    .position {
      .hero-img-wrap {
        &:after {
          top: -40px;
        }
      }
    }
  }
}

@media (min-width: $xxl) {
  .hero {
    h1 {
      font-size: 54px;
    }
  }
}
