.app {
  height: 100%;
  .login {
    height: 100%;
    display: flex;
    position: relative;
    .input_field_window {
      width: 60rem;
      display: flex;
      background: $white;
      border-radius: 1.2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 10px 0 rgba(59, 93, 80, 0.4);
      .side {
        display: flex;
        flex-direction: column;
        padding: 2.4rem 1.6rem;
        &.left {
          justify-content: center;
          align-items: center;
          width: 50%;
          background: $primary;
          border-radius: 1.2rem 0 0 1.2rem;
          img {
            height: 4rem;
            margin: 2.4rem 0;
          }
          .comment {
            @include font(1.8rem);
            font-weight: $thin;
            color: $white;
            opacity: 0.6;
            &.top {
              @include font(1.4rem);
            }
          }
        }
        &.right {
          width: 50%;
          justify-content: center;
          h3 {
            margin-bottom: 6rem;
            @include font(3.2rem);
            color: $primary;
            font-weight: $bold;
          }
          input {
            height: 4rem;
            border-radius: 0.8rem;
            border: 1px solid #ced4da;
            margin-bottom: 1.6rem;
            padding: 0.8rem 1.2rem;
            @include font(1.4rem);
            color: $primary;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          .sign_up_wrap {
            margin: 6rem 0 1.6rem;
            @include font(1.3rem);
            color: $gray400;
            .flat {
              display: flex;
              justify-content: space-between;
              margin-bottom: 0.8rem;
              &:last-of-type {
                margin-bottom: 0;
              }
              span {
                color: $gray600;
              }
            }
          }
          button {
            &.login_btn {
              background: $primary;
              border-radius: 5rem;
              color: $white;
              height: 4rem;
              font-weight: $bold;
              @include font(1.8rem);
              font-weight: $bold;
              transition: all 0.4s;
              &:hover {
                opacity: 0.4;
              }
            }
            &.sign_up {
              color: $primary;
              font-weight: $bold;
              transition: all 0.4s;
              &:hover {
                opacity: 0.4;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .app {
    .login {
      .input_field_window {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: $primary;
        .side {
          &.left {
            width: 100%;
            border-radius: 0;
            background: unset;
            padding: 0;
            .comment {
              @include font(1.6rem);
              font-weight: $light;
              &.top {
                display: none;
              }
            }
            img {
              height: 6rem;
            }
          }
          &.right {
            width: 100%;
            background: unset;
            padding: 2.4rem 4.8rem;
            margin-top: 4.8rem;
            h3 {
              display: none;
            }
            input {
              background: $mainLight;
              &::placeholder {
                color: $body_color;
              }
            }
            .sign_up_wrap {
              .flat {
                @include font(1.6rem);
                color: rgba(255, 255, 255, 0.4);
                margin-bottom: 1.6rem;
                span {
                  color: $white;
                }
                button {
                  color: $white;
                }
              }
            }
            button.login_btn {
              background: $white;
              color: $primary;
              height: 4.8rem;
              margin-top: 4.8rem;
            }
          }
        }
      }
    }
  }
}
