.testimonial-section {
  .container {
    .row {
      &.justify-content-center {
        .slick-slider.slick-initialized {
          button.slick-arrow {
            background: $primary;
            border-radius: 5rem;
            width: 6rem;
            height: 6rem;
            &::before {
              color: $white;
              @include font(2.8rem);
            }
            &.slick-prev {
              &::before {
                content: '<';
              }
            }
            &.slick-next {
              &::before {
                content: '>';
              }
            }
          }
        }
      }
    }
  }
}