.testimonial-section {
  .container {
    .row {
      .section-title {
        margin-bottom: 1.6rem;
      }
      &.justify-content-center {
        .slick-slider.slick-initialized {
          button.slick-arrow {
            background: $primary;
            border-radius: 5rem;
            width: 6rem;
            height: 6rem;
            cursor: pointer;
            z-index: 1000;
            &::before {
              color: $white;
              @include font(2.8rem);
            }
            &.slick-prev {
              &::before {
                content: '<';
              }
            }
            &.slick-next {
              &::before {
                content: '>';
              }
            }
          }
          .slick-dots {
            li {
              margin: 0;
              button {
                padding: 0;
                &::before {
                  line-height: 2rem;
                  font-size: 1rem;
                }
              }
              &.slick-active {
                button::before {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $md) {
  .testimonial-section {
    .container {
      .row {
        .section-title {
        }
        &.justify-content-center {
          .slick-slider.slick-initialized {
            button.slick-arrow {
              display: none !important;
            }
          }
        }
      }
    }
  }
}